/.idea/
/guard/pages/__pycache__/
/guard/pages/components/__pycache__/
/utils/__pycache__/
/guard/tests/__pycache__/
/guard/data/__pycache__/
/guard/data/face_property/__pycache__/
/.pytest_cache/
/__pycache__/
/outputs/logs/
/outputs/web_screenshot/*.jpg/
/outputs/allure/
/outputs/html/
/outputs/web_screenshot/
guard/tools/__pycache__/