/.idea/
/guard/pages/__pycache__/
/guard/pages/components/__pycache__/
/utils/__pycache__/
/guard/tests/__pycache__/
/guard/datas/__pycache__/
/guard/datas/tool/__pycache__/
/guard/datas/face_property/__pycache__/
/.pytest_cache/
/__pycache__/
/outputs/logs/
/outputs/screenshots/*.jpg/
/outputs/allure/
/outputs/html/
/outputs/screenshots/
guard/tools/__pycache__/
/guard/pages/classes/__pycache__/